 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1589px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 95px;
  margin: 275px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  margin: 184px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 46px 304px 0 293px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 39px auto 0;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 300px;
  transform-origin: center center 0px;
  transform: scaleX(-1);
  margin: 78px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 204px;
    margin-left: 193px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 94px;
    margin-left: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1584px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 90px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1551px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 57px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/interior-space-decorated-boho-style-8-min.jpg');
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 438px;
  margin: 130px auto 0;
}

.u-section-2 .u-text-2 {
  width: 438px;
  font-size: 1.25rem;
  margin: 73px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 106px 280px 0 808px;
}

.u-section-2 .u-text-4 {
  margin: -24px 766px 0 141px;
}

.u-section-2 .u-shape-1 {
  width: 404px;
  height: 15px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.1;
  margin: -22px 351px 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px 252px 0 836px;
}

.u-section-2 .u-text-6 {
  margin: -25px 766px 0 198px;
}

.u-section-2 .u-shape-2 {
  width: 431px;
  height: 15px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.1;
  margin: -21px 324px 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 44px 766px 0 268px;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -20px 114px 0 974px;
}

.u-section-2 .u-shape-3 {
  width: 570px;
  height: 15px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.1;
  margin: -20px 185px 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px 421px 0 667px;
}

.u-section-2 .u-text-10 {
  margin: -25px 766px 0 306px;
}

.u-section-2 .u-shape-4 {
  width: 262px;
  height: 15px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.1;
  margin: -21px auto 0 385px;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px 177px 0 911px;
}

.u-section-2 .u-text-12 {
  margin: -23px 755px 0 283px;
}

.u-section-2 .u-shape-5 {
  width: 503px;
  height: 15px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.1;
  margin: -21px 252px 0 auto;
}

.u-section-2 .u-text-13 {
  font-weight: 400;
  margin: 49px 766px 0 283px;
}

.u-section-2 .u-text-14 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -24px 465px 0 623px;
}

.u-section-2 .u-shape-6 {
  width: 219px;
  height: 16px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.1;
  margin: -22px auto 0 385px;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  margin: 43px 774px 0 185px;
}

.u-section-2 .u-text-16 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -20px 181px 0 907px;
}

.u-section-2 .u-shape-7 {
  width: 503px;
  height: 15px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.1;
  margin: -20px 252px 0 auto;
}

.u-section-2 .u-text-17 {
  font-weight: 400;
  margin: 50px 792px 0 167px;
}

.u-section-2 .u-text-18 {
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -25px 368px 0 720px;
}

.u-section-2 .u-shape-8 {
  width: 316px;
  height: 15px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.1;
  margin: -20px auto 60px 385px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-3 {
    margin-right: 180px;
    margin-left: 708px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 666px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 152px;
    margin-left: 736px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 666px;
    margin-left: 98px;
  }

  .u-section-2 .u-shape-2 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-text-7 {
    margin-right: 666px;
    margin-left: 168px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 14px;
    margin-left: 874px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 321px;
    margin-left: 567px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 666px;
    margin-left: 206px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 77px;
    margin-left: 811px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 655px;
    margin-left: 183px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 666px;
    margin-left: 183px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 365px;
    margin-left: 523px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 674px;
    margin-left: 85px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 81px;
    margin-left: 807px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 692px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 268px;
    margin-left: 620px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 70px;
    margin-left: 598px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 487px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 316px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 42px;
    margin-left: 626px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 544px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 289px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 556px;
    margin-left: 58px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 668px;
  }

  .u-section-2 .u-shape-3 {
    margin-right: 150px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 211px;
    margin-left: 457px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 556px;
    margin-left: 96px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 668px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 545px;
    margin-left: 73px;
  }

  .u-section-2 .u-shape-5 {
    margin-right: 217px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 556px;
    margin-left: 73px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 255px;
    margin-left: 413px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 539px;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
    margin-left: 668px;
  }

  .u-section-2 .u-shape-7 {
    margin-right: 217px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 539px;
    margin-left: 0;
  }

  .u-section-2 .u-text-18 {
    margin-right: 158px;
    margin-left: 510px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 27.37% 50%;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 488px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 307px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 136px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 488px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 364px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: 109px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 434px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 488px;
  }

  .u-section-2 .u-shape-3 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 121px;
    margin-left: 367px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 466px;
    margin-left: 6px;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 278px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 488px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 438px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-5 {
    margin-right: 37px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 449px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 165px;
    margin-left: 323px;
  }

  .u-section-2 .u-shape-6 {
    margin-left: 321px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 359px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 488px;
  }

  .u-section-2 .u-shape-7 {
    margin-right: 37px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 359px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 68px;
    margin-left: 420px;
  }

  .u-section-2 .u-shape-8 {
    margin-left: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 288px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 107px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 288px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 164px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 234px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 288px;
  }

  .u-section-2 .u-shape-3 {
    width: 340px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 21px;
    margin-left: 267px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 272px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-4 {
    margin-left: 78px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 288px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 238px;
  }

  .u-section-2 .u-shape-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 249px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 65px;
    margin-left: 223px;
  }

  .u-section-2 .u-shape-6 {
    margin-left: 121px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 159px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 288px;
  }

  .u-section-2 .u-shape-7 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-17 {
    margin-right: 159px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 0;
    margin-left: 288px;
  }

  .u-section-2 .u-shape-8 {
    margin-left: 24px;
  }
} .u-section-3 {
  background-image: url("images/mountain_cop.jpg");
  background-position: 50% 64.77%;
}

.u-section-3 .u-sheet-1 {
  min-height: 2594px;
}

.u-section-3 .u-line-1 {
  top: 253px;
  transform-origin: center top;
  position: absolute;
  height: 1298px;
  animation-timing-function: ease-in;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.5;
  left: auto;
  right: 537px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 107px 389px 0 auto;
}

.u-section-3 .u-group-elements-1 {
  width: 385px;
  min-height: 121px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 85px auto 0 228px;
}

.u-section-3 .u-shape-1 {
  width: 27px;
  height: 27px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: -26px 71px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 10px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 71px 0 auto;
}

.u-section-3 .u-group-elements-2 {
  width: 185px;
  min-height: 116px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 76px 368px 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 0 35px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 27px;
  height: 27px;
  margin: -25px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  margin: 15px 0 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 9px 53px 0 auto;
}

.u-section-3 .u-group-elements-3 {
  width: 290px;
  min-height: 113px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 100px auto 0 322px;
}

.u-section-3 .u-shape-3 {
  width: 27px;
  height: 27px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  margin: -21px 71px 0 69px;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  margin: 9px 71px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 9px 71px 0 32px;
}

.u-section-3 .u-group-elements-4 {
  width: 289px;
  min-height: 110px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 95px 264px 0 auto;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  margin: 0 140px 0 71px;
}

.u-section-3 .u-shape-4 {
  width: 27px;
  height: 27px;
  margin: -23px auto 0 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.5rem;
  margin: 6px 0 0 71px;
}

.u-section-3 .u-text-13 {
  margin: 11px 43px 0 71px;
}

.u-section-3 .u-group-elements-5 {
  width: 241px;
  min-height: 114px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 147px auto 0 373px;
}

.u-section-3 .u-text-14 {
  font-weight: 400;
  margin: 0 76px 0 auto;
}

.u-section-3 .u-shape-5 {
  width: 27px;
  height: 27px;
  margin: -25px 0 0 auto;
}

.u-section-3 .u-text-15 {
  font-size: 1.5rem;
  margin: 12px auto 0 0;
}

.u-section-3 .u-text-16 {
  margin: 10px 76px 0 auto;
}

.u-section-3 .u-group-elements-6 {
  width: 240px;
  min-height: 111px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 103px 314px 0 auto;
}

.u-section-3 .u-shape-6 {
  width: 27px;
  height: 27px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-17 {
  font-weight: 400;
  margin: -27px auto 0 71px;
}

.u-section-3 .u-text-18 {
  font-size: 1.5rem;
  margin: 7px 0 0 72px;
}

.u-section-3 .u-text-19 {
  margin: 14px 43px 0 auto;
}

.u-section-3 .u-group-elements-7 {
  width: 239px;
  min-height: 152px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 99px auto 0 375px;
}

.u-section-3 .u-shape-7 {
  width: 27px;
  height: 27px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-20 {
  font-weight: 400;
  margin: -17px auto 0 0;
}

.u-section-3 .u-text-21 {
  font-size: 1.5rem;
  margin: 17px 71px 0 0;
}

.u-section-3 .u-text-22 {
  margin: 10px 78px 0 0;
}

.u-section-3 .u-text-23 {
  font-size: 3rem;
  margin: 152px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 264px;
  width: 921px;
  grid-gap: 17px;
  margin: 65px auto 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 52.83%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 2305px;
  }

  .u-section-3 .u-line-1 {
    animation-duration: 4000ms;
    top: 246px;
    right: 458px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 321px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 76px;
    margin-left: 107px;
  }

  .u-section-3 .u-group-elements-2 {
    margin-top: 78px;
    margin-right: 289px;
  }

  .u-section-3 .u-group-elements-3 {
    min-height: 114px;
    height: auto;
    margin-top: 92px;
    margin-left: 202px;
  }

  .u-section-3 .u-group-elements-4 {
    min-height: 111px;
    height: auto;
    margin-top: 103px;
    margin-right: 185px;
  }

  .u-section-3 .u-group-elements-5 {
    margin-top: 114px;
    margin-left: 251px;
  }

  .u-section-3 .u-group-elements-6 {
    margin-top: 92px;
    margin-right: 230px;
  }

  .u-section-3 .u-group-elements-7 {
    margin-top: 125px;
    margin-left: 251px;
  }

  .u-section-3 .u-text-23 {
    margin-top: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2147px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 246px;
  }

  .u-section-3 .u-gallery-1 {
    height: 645px;
    width: 720px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2983px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 185px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1481px;
    width: 540px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2975px;
  }

  .u-section-3 .u-line-1 {
    top: 174px;
    right: 164px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 116px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 185px;
    min-height: 215px;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 15px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-right: 33px;
  }

  .u-section-3 .u-group-elements-2 {
    width: 165px;
    margin-top: 50px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 15px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 13px;
    margin-right: auto;
    margin-left: 52px;
  }

  .u-section-3 .u-group-elements-3 {
    width: 185px;
    min-height: 203px;
    margin-top: 107px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 31px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 6px;
    margin-right: 33px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 12px;
    margin-right: 65px;
    margin-left: 0;
  }

  .u-section-3 .u-group-elements-4 {
    width: 231px;
    min-height: 200px;
    margin-top: -15px;
    margin-right: -50px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 111px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 7px;
    margin-left: 42px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-left: 43px;
  }

  .u-section-3 .u-group-elements-5 {
    width: 185px;
    min-height: 152px;
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-top: 10px;
    margin-right: 40px;
  }

  .u-section-3 .u-text-16 {
    margin-top: 12px;
  }

  .u-section-3 .u-group-elements-6 {
    width: 181px;
    min-height: 110px;
    margin-top: 89px;
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-top: 11px;
    margin-left: 55px;
  }

  .u-section-3 .u-text-19 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-3 .u-group-elements-7 {
    width: 186px;
    min-height: 178px;
    margin-top: 62px;
    margin-left: 0;
  }

  .u-section-3 .u-text-20 {
    width: auto;
  }

  .u-section-3 .u-text-21 {
    width: auto;
    margin-top: 15px;
    margin-right: 60px;
  }

  .u-section-3 .u-text-22 {
    width: auto;
    margin-top: 12px;
    margin-right: 67px;
  }

  .u-section-3 .u-text-23 {
    font-size: 1.5rem;
    margin-top: 236px;
  }

  .u-section-3 .u-gallery-1 {
    height: 945px;
    width: 340px;
  }
}