 .u-section-1 {
  min-height: 892px;
}

.u-section-1 .u-group-1 {
  height: auto;
  background-image: none;
  min-height: 522px;
  width: calc(((100% - 1140px) / 2)  + 781px);
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("images/img_front2.jpg");
  background-position: 50% 25.59%;
  margin: -462px auto 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  background-image: none;
  min-height: 522px;
  width: calc(((100% - 1140px) / 2)  + 359px);
  margin: -482px 0 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  width: 543px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  width: 543px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 781px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 940px) / 2) + 359px);
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 720px) / 2) + 359px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 540px) / 2) + 359px);
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 810px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-group-2 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: -400px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1078px;
}

.u-section-2 .u-shape-1 {
  height: 532px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -472px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1000px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-image-1 {
  height: 590px;
  margin-top: 63px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-image-2 {
  min-height: 1000px;
  background-image: url("images/lacing-mechanical-artificial-limb-bionic-foot-human-body-replacement-bioengineering-isolated-chalkboard-illustration-vector.jpg");
  background-position: 50% 50%;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 785px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 825px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 487px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    min-height: 825px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-shape-1 {
    height: 387px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -409px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 391px;
    margin-top: 35px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1724px;
  }

  .u-section-2 .u-shape-1 {
    height: 1127px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 896px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    height: 619px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1211px;
  }

  .u-section-2 .u-shape-1 {
    height: 367px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -315px;
    margin-bottom: 43px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 606px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 381px;
    margin-top: 46px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    min-height: 558px;
  }
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 649px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 529px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 8.125rem;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 529px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 164px 30px 30px;
}

.u-section-3 .u-text-2 {
  margin: 115px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 68px;
    margin-bottom: 52px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 652px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 4px;
    margin-left: -12px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 652px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: 334px;
    margin-top: 171px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
    margin-left: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    width: 330px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 68px;
    margin-bottom: 52px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 23px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 631px;
}

.u-section-4 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  margin: 126px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  width: 682px;
  margin: 46px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 33px auto 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: 340px;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
  }
}